.pipe-label, .pipe {
  font-size: 1.5rem !important;
}

.pipe {
  height: 5rem;
  line-height: 5rem !important;
  background: linear-gradient(to bottom, lighten(#f27354, 20%), darken(#f27354, 10%));
  position: absolute;
  width: 11rem;
  top: calc(50% - 4rem);
  box-shadow: 0 5px 10px rgba(black, 0.2%);

  &.readable-pipe {
    right: 0;
    padding-left: 1rem;

    &:before {
      content: ' ';
      background: linear-gradient(to bottom, lighten(#f27354, 10%), darken(#f27354, 20%));
      box-shadow: 0 5px 10px rgba(black, 0.2%);
      position: absolute;
      height: 7rem;
      width: 1rem;
      left: 0;
      top: -1rem;
    }
  }

  &.writable-pipe {
    left: 0;
    padding-right: 1rem;

    &:before {
      content: ' ';
      background: linear-gradient(to bottom, lighten(#f27354, 10%), darken(#f27354, 20%));
      box-shadow: 0 5px 10px rgba(black, 0.2%);
      position: absolute;
      height: 7rem;
      width: 1rem;
      right: 0;
      top: -1rem;
    }
  }

  &.transform-pipe {
    left: calc(50% - 6.5rem);
    padding-left: 1rem;
    padding-right: 1rem;

    &:before {
      content: ' ';
      background: linear-gradient(to bottom, lighten(#f27354, 10%), darken(#f27354, 20%));
      box-shadow: 0 5px 10px rgba(black, 0.2%);
      position: absolute;
      height: 7rem;
      width: 1rem;
      left: 0;
      top: -1rem;
    }

    &:after {
      content: ' ';
      background: linear-gradient(to bottom, lighten(#f27354, 10%), darken(#f27354, 20%));
      box-shadow: 0 5px 10px rgba(black, 0.2%);
      position: absolute;
      height: 7rem;
      width: 1rem;
      right: 0;
      top: -1rem;
    }
  }
}

.pipe-label {
  position: absolute;
  top: 0.5rem;

  &.pipe-label-center {
    top: calc(51% + 6.5rem);
    left: calc(50% - 20rem);
    width: 40rem;
  }

  &.pipe-label-left {
    left: 7rem;
  }

  &.pipe-label-right {
    right: 7rem;
  }
}
