/* Custom CSS */

@import "reveal";
@import "shooting-star";
@import "highlight";
@import "browser-support";
@import "pipe";
@import "columns";

.reveal {
  p.subtitle {
    color: #808080;
    font-weight: bold;
    margin: 3rem 0;
  }

  p.author {
    font-size: 1.7rem;
  }

  a.social-profile {
    color: inherit;
    font-size: 1.7rem;
    margin: 0 1.5rem;
  }

  .whatwg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    h2, p.subtitle {
      color: #3c790a;
      text-align: left;
      margin: 0;
    }

    .whatwg-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    .whatwg-logo {
      display: inline-block;
      vertical-align: -3.5rem;
      margin: 0 1rem 0 0;
      width: 10rem;
      border: none;
      max-width: 100%;
      box-shadow: none;
      background: none;
    }
  }

  .hljs {
    max-height: none !important;
  }

  .techcamp-logo, .baqend-logo, .qrcode {
    border: none;
    background: none;
    box-shadow: none;
  }

  .qrcode {
    max-height: 6rem;
    margin: 0;
  }

  .techcamp-logo {
    max-width: 50%;
  }

  $baqend-logo-height: 6rem;
  $baqend-logo-line: $baqend-logo-height * 0.5732;
  $baqend-logo-padding-top: $baqend-logo-height * 0.16;
  $baqend-logo-padding-bottom: $baqend-logo-height - $baqend-logo-line - $baqend-logo-padding-top;

  .baqend-logo {
    height: 6rem;
    margin: 0;
  }

  p.baqend-logo-line {
    margin-top: 40px;

    &, a, span {
      line-height: $baqend-logo-height;
    }

    a {
      float: right;
    }

    .baqend-logo {
      display: inline-block;
      vertical-align: middle;
    }

    .qrcode {
      display: inline;
      vertical-align: middle;
      width: $baqend-logo-height;
      height: $baqend-logo-height;
    }
  }
}
