@keyframes shooting-star {
  0% {
    opacity: 1;
    transform: scale(0) translate3d(0, 0, 0)
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0;
    transform: scale(1) translate3d(180px, 0, 0)
  }
  100% {
    opacity: 0;
    transform: scale(0) translate3d(180px, 0, 0)
  }
}

.shooting-star {
  position: fixed;
  pointer-events: none;

  img {
    opacity: 0;
    margin: 0 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.shooting-star-left {
  left: 10%;
  top: 10%;
  transform: rotate(30deg);

  &.shoot img {
    animation: shooting-star 6s ease-out infinite;
  }
}

.shooting-star-right {
  left: 80%;
  top: 80%;
  width: 130px;
  transform: rotate(-235deg);

  &.shoot img {
    animation: shooting-star 6s ease-out infinite;
  }
}
