.idea/
*.iml
out/
log/*.log
tmp/**
test/
node_modules/
package-lock.json
.sass-cache
css/*.min.css
js/*.min.js
demo.html
plugin/**/example.*

# Font Awesome
lib/fontawesome/*
!lib/fontawesome/css/all.min.css
!lib/fontawesome/webfonts/fa-brands-*
!lib/fontawesome/webfonts/fa-solid-*
